<div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li ng-class="{active: view==types[0]}" class="pointer">
            <a ng-class="{active: view==types[0]}" ng-click="switchView(types[0], age)">
                Vacation Type &nbsp;
                <i class="pull-right glyphicon glyphicon-question-sign" tooltip-placement="top-right"
                   uib-tooltip-html="vacationTypeTooltip" tooltip-class="large-tooltip"></i>
            </a>
        </li>
        <li ng-class="{active: view==types[1]}" class="pointer">
            <a ng-class="{active: view==types[1]}" ng-click="switchView(types[1], age)">
                Activities &nbsp;
                <i class="pull-right glyphicon glyphicon-question-sign" tooltip-placement="top-right"
                   uib-tooltip-html="activityTooltip" tooltip-class="large-tooltip"></i>
            </a>
        </li>
        <li ng-class="{active: view==types[2]}" class="pointer">
            <a ng-class="{active: view==types[2]}" ng-click="switchView(types[2], age)">
                Other &nbsp;
                <i class="pull-right glyphicon glyphicon-question-sign" tooltip-placement="top-right"
                   uib-tooltip-html="otherTooltip" tooltip-class="large-tooltip"></i>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="vacationtype" class="tab-pane fade"
             ng-class="{active: view==types[0], in: view==types[0]}">
            <div class="row">
                <div ng-repeat="factor in factors[types[0]]" class="col-sm-6">
                    <div class="checkbox">
                        <label class="capitalize">
                            <input type="checkbox" ng-model="factor.selected"
                                   ng-click="selectFactor(factor)">
                            {{factor.name}}
                        </label>
                        <input type="number" ng-if="settings.showDays" ng-model="factor.vacations_factors.days"
                               class="float-right" placeholder="Days of this vacation type"
                               tooltip-placement="top-right" uib-tooltip-html="factorVacTypeTooltip">
                    </div>
                </div>
            </div>
        </div>
        <div id="activities" class="tab-pane fade"
             ng-class="{active: view==types[1], in: view==types[1]}">
            <div class="row">
                <div ng-repeat="factor in factors[types[1]]" class="col-sm-6">
                    <div class="checkbox">
                        <label class="capitalize">
                            <input type="checkbox" ng-model="factor.selected"
                                   ng-click="selectFactor(factor)">
                            {{factor.name}}
                        </label>
                        <input type="number" ng-if="settings.showDays" ng-model="factor.vacations_factors.days"
                               class="float-right" placeholder="Days of this activity" tooltip-placement="top-right"
                               uib-tooltip-html="factorActivityTooltip">
                    </div>
                </div>
            </div>
        </div>
        <div id="other" class="tab-pane fade"
             ng-class="{active: view==types[2], in: view==types[2]}">
            <div class="row">
                <div ng-repeat="factor in factors[types[2]]" class="col-sm-6">
                    <div class="checkbox">
                        <label class="capitalize">
                            <input type="checkbox" ng-model="factor.selected"
                                   ng-click="selectFactor(factor)">
                            {{factor.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>