<div class="modal-header">
    <div class="col-sm-12">
        <h3 class="modal-title" id="modal-title">{{ vacationName != null ? "Editing " : "Creating "}}Vacation {{vacationName}}</h3>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-3">Name:</div>
        <div class="col-sm-9">
            <input type="text" ng-model="vm.newVacation.name" maxlength="30" focus-me="true">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Dates:</div>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{vm.datePickerFormat}}"
                       ng-model="vm.newVacation.start_date"
                       is-open="vm.startDate.opened" datepicker-options="vm.dateOptions"
                       ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openStart()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{vm.datePickerFormat}}"
                       ng-model="vm.newVacation.end_date"
                       is-open="vm.endDate.opened" datepicker-options="vm.dateOptions"
                       ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openEnd()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Factors
            <i class="pull-right glyphicon glyphicon-question-sign" tooltip-placement="top-right"
               uib-tooltip-html="vm.factorsTooltip"></i>
        </div>
        <div class="col-sm-9" ng-hide="vm.newVacation.always_needed">
            <edit-factors factors="vm.factors" selected="vm.newVacation.factors"
                          settings="vm.factorSettings"></edit-factors>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>