<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Editing Item {{vm.item.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-4">Name:</div>
        <div class="col-sm-8"><input type="text" ng-model="vm.newItem.name"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">Age/Quantity</div>
        <div class="col-sm-8">
            <div ng-repeat="age in vm.newItem.ages" class="row">
                <div class="col-sm-12">{{age.name}}</div>
                <edit-factors factors="vm.factors"></edit-factors>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>