<div class="jumbotron">
    <h1>Trip Supplies Packing List</h1>
    <p>
        This website is designed to help generate an appropriate packing list for any vacation you may go on. Normally
        you have to spend time trying to decide what you need to pack, and almost always forget to pack something
        important. Now with this, if you forget something once, you can add it to our list, and next time it will
        remember for you!
    </p>
    <p>
        NOTE: This site is only in its alpha stages. So if you find any problems or have any questions please contact
        me.
    </p>
    <uib-accordion close-others="false" class="packing-list">
        <div uib-accordion-group class="panel-default" is-open="status.instructions">
            <uib-accordion-heading>
                Feature Notes
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': status.instructions, 'glyphicon-chevron-right': !status.instructions}"></i>
            </uib-accordion-heading>
            <p>
                Working Features:
            </p>
            <ul>
                <li>Creating of a Vacation</li>
                <li>Generating a packing list for specified vacation</li>
                <li>Create new items to use for vacations</li>
                <li>Create Personal Items (only for you) to apply to vacations</li>
            </ul>
            <p>
                Upcoming Features:
            </p>
            <ul>
                <li>Ability to create family groups</li>
                <li>Add children (people who can't log in) to family</li>
                <li>Invite other people to your vacation</li>
                <li>Create a vacation without signing in</li>
                <li>Option to have an item only required once per family, not every person</li>
            </ul>
        </div>
    </uib-accordion>
</div>
<div class="row row-offcanvas row-offcanvas-right" ng-if="vm.authenticated">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Your Vacations</h2>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <th class="col-md-2">Vacation</th>
                        <th class="col-md-2"></th>
                    </tr>
                    <tr ng-repeat="vacation in vm.vacationsList track by vacation.id">
                        <td>{{vacation.name}}</td>
                        <td>
                            <a class="btn" href="#/packing/{{vacation.id}}">pack</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>