<div class="container-fluid">
    <div class="title"><h2>{{vm.name}}</h2></div>
    <div class="tile">
        <div class="tileContent">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6"><h4>All Items</h4></div>
                            <div class="col-sm-6 text-right">
                                <button type="button" class="btn btn-default" ng-click="vm.createItem()">Create Item
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                    </div>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Ages</th>
                            <th>Factors</th>
                            <th>Details</th>
                        </tr>
                        <tr ng-repeat="item in vm.itemsList track by item.id">
                            <td>
                                <a class="btn" ng-click="vm.editItem(item)">edit</a>
                                <a class="btn" ng-click="vm.deleteItem(item)">delete</a>
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                                <div ng-repeat="age in item.ages track by age.id" class="row in-between-bordered">
                                    <div class="col-sm-3">{{age.name}}</div>
                                    <div class="col-sm-5">Items: {{age.items_per_age.items}}</div>
                                    <div class="col-sm-3">Days: {{age.items_per_age.days}}</div>
                                </div>
                            </td>
                            <td>
                                <view-factors factors="vm.factors" selected="item.factors"></view-factors>
                            </td>
                            <td>
                                <ul>
                                    <li>{{item.required ? "Required for packing" : "Optional packing"}}</li>
                                    <li ng-if="item.always_needed">Always need to pack</li>
                                    <li ng-if="item.personal">Only for you</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>