<h2>Packing list for {{vm.vacation.name}}</h2>
<h4>({{vm.vacation.start_date | date: vm.dateFormat}} to {{vm.vacation.end_date | date: vm.dateFormat}})</h4>
<uib-accordion close-others="false" class="packing-list">
    <div ng-repeat="(category, items) in vm.sortedItems" uib-accordion-group class="panel-default collapse in" is-open="status[category]">
        <uib-accordion-heading>
            {{category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[category], 'glyphicon-chevron-right': !status[category]}"></i>
        </uib-accordion-heading>
        <h4>Required:</h4>
        <div class="row">
            <div class="col-md-3 col-sm-4" ng-repeat="item in items.required">
                <div class="checkbox">
                    <label class="capitalize">
                        <input type="checkbox" ng-model="factor.selected"
                               ng-click="selectFactor(factor)">
                        <span>({{item.packingAmount}}) </span>
                        {{item.name}}
                    </label>
                </div>
            </div>
        </div>
        <h4>Optional:</h4>
        <div class="row">
            <div class="col-md-3 col-sm-4" ng-repeat="item in items.optional">
                <div class="checkbox">
                    <label class="capitalize">
                        <input type="checkbox" ng-model="factor.selected"
                               ng-click="selectFactor(factor)">
                        <span>({{item.packingAmount}}) </span>
                        {{item.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>